<mat-toolbar class="footer">
    <div class="footer-content">
        <p>copyright &copy; 2022 HelioAnacronista. criado por <span>Helio</span></p>
    </div>

    <div class="links">
        <p>Contate-me nas redes sociais!</p>
            <li><a href="https://www.linkedin.com/in/helio-fernandes-4b993b23a/" class="ancora">        <img src="../../../../assets/img/linkedin.png"> </a></li>
            <li><a href="https://github.com/HelioAnacronista" class="ancora">                          <img src="../../../../assets/img/github.png"> </a></li>           
    </div>
    

</mat-toolbar>

