@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

.example-card {
    max-width: 400px;
    margin: auto;
    margin-top: 30px;
  }
  
  .example-header-image {
    background-image: url('../../../../src/assets/img/mao.png');
    background-size: cover;
  }

.img-home {
    width: 40%;

}

.card-mid {
    margin: 35%;
}

.mat-card-header .mat-card-title {
    margin-top: 10px;
}

mat-card-content {
    font-family: 'Poppins', sans-serif;
    margin-top: 20px;
    background: #673ab7;
    border-radius: 30px;
}

mat-card-content p {
    color: #FFF;
}

.content-mid {
    color: #FFF;
    display: flex;
    padding-top: 0.19rem;
}

.div-your {
    margin-top: 3px;
    color: #FFF;
    margin-left: 3px;
}

.div-icon {
    margin-top: 3rem;
    margin-left: 0.3rem;
}

.div-your > span {
    font-weight: 500;
}